
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/Gcloud.jpg");
  background-repeat: repeat;   /* 默认就是 repeat，可省略 */
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;  
}

h1 {
    font-size: 2em;
    line-height: 1.2;
    border-bottom: 0px solid #eee;
}
h2 {
    font-size: 1.8em;
    line-height: 1.225;
    border-bottom: 0px solid #eee;
}
h3 {
    font-size: 1.6em;
    border-bottom: 0px solid #ddd;
    padding-bottom: 6px;
}
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

.table-figure {
  width: 80%;
  table-layout: fixed;    /* 关键 */
  margin-left: auto;  /* 居中 */
  margin-right: auto;
  border-collapse: collapse;
  border-color: #777;  
  }
.table-figure tr {  
  border-style:dashed
 }
.table-figure th {
  width: 20%;
  text-align: center;
  font-weight: normal !important;  /* 把TH单元格也设置成normal */
   border-color: #777;
   border-style: dashed;  
 }
.table-figure td {
  width: 20%;
  text-align: center;
  border-color: #777;  
  border-style: dashed;
 }

/* 页脚 */
footer {
  text-align: center;
  color: #777;
  font-size: 1.0em;
  margin-bottom: 20px;
}

header {
  margin-left: 20px;
}
main {
  margin-left: 20px;
}