
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/Gcloud.jpg");
  background-repeat: repeat;   /* 默认就是 repeat，可省略 */
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  
}



h1 {
    font-size: 2em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h2 {
    font-size: 1.8em;
    line-height: 1.225;
    border-bottom: 0px solid #eee;
}
h3 {
    font-size: 1.6em;
    border-bottom: 0px solid #ddd;
    padding-bottom: 6px;
}
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

table {
  width: 100%;
  border-collapse: collapse;
  background-image: transparent;    /*可以设置背景图片，或者透明*/
  background-repeat: repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.table-figure {
  width: 80%;
  table-layout: fixed;   /* 关键 */
  border-collapse: collapse;  
  }

.table-figure td, th {
  width: 20%;            /* 两列就 50% / 50% */
  text-align: center;
  font-weight: normal !important;  /* 把TH单元格也设置成normal */
 }


/* 页脚 */
footer {
  text-align: center;
  color: #777;
  font-size: 1.0em;
  margin-bottom: 20px;
}
